@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500,700");
html {
    overflow-x: hidden;
}

body {
    background-image: url(../img/hero-area.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*   */
    font-size: 15px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #02131b;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

form {
    max-width: 500px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px white;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: px;
    box-sizing: border-box;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

::placeholder {
    color: #02131b;
    opacity: 8 0%;
    /* Firefox */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus {
    outline: none;
    border-color: #66afe9;
}

input[type="submit"] {
    align-items: center;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    width: 50%;
    border: none;
    color: #02131b;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0d5c81;
    box-shadow: 0 5px 15px #02131b;
}

.required::after {
    content: '*';
    color: red;
    opacity: 40%;
    margin-left: 4px;
}

#age {
    margin-bottom: 5px;
}

.note {
    display: block;
    font-size: 14px;
    color: #666;
    margin-top: 0;
    padding-left: 5px;
}


/* Responsive styles */

@media only screen and (max-width: 600px) {
    form {
        max-width: 60%;
        font-style: 30px;
    }
}

@media only screen and (max-width: 400px) {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    select {
        width: 70%;
    }
}